
body {
    // background-color: black;
    background-color: #faf8ef;
}

 h1 {
    color: #fff;
    justify-self: center;
 }

p{
    font-family: $mini-font;
    size: 2em;
    color: #fff;
}
ul {
    margin: 0;
    padding: 0;
}

 li {
     margin: 0;
 }


.contentBox{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-column: 1/7;
    padding: 0;
    margin: 0;
    background-color: #fff;
    margin: 20px;
    margin-bottom: 0;
}

.gridLayout {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: minmax(10px,auto);
    max-width: 1400px;
}


video {
    grid-column: 1/7;
    width: 100%;
    height: auto;
    display: none;
}

.lineUp {
    justify-self: center;
    grid-column: 1/7;
    font-family: $mini-title;
    font-size: 5vw;
}


#miniImgBox {
    grid-column: 2/6;
    grid-row: 3;
    justify-self: center;
}
#miniImgBox img {
    width: 100%;
    height: auto;
}

.miniName {
    grid-column: 1/7;
    grid-row: 4;
    justify-self: center;
    color: black;
    font-size: 5vw;
}

.paymentData {
    grid-column: 2/6;
    grid-row: 5;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    padding-bottom: 30px;
}

// STYLE

.dataText {
    font-family: $mini-font;
    font-size: 5vw;
    color: #fff;
}

.boxTitle {
    font-size: 1em;
    font-family: $mini-title;
    color: #fff;
}

.box {
    background-color: #7f7f7f;
    width: 75%;
}



//THIS IS THE MEDIA QUERY

@media all and (min-width:500px){

    video {
        display: inline-block;
    }

}

@media all and (min-width:700px) {


    
    

    .gridLayout {
        grid-template-columns: repeat(8,1fr);
    }
    
    .contentBox {
        grid-column: 1/9;
        grid-template-columns: repeat(8,1fr);
    }
    
    video {
        grid-column: 1/9;
    }

    .lineUp {
        grid-column: 1/9;
    }

    header {
        grid-column: 3/7;
        grid-row: 1;
        justify-self: center;
    }

    
    #miniImgBox {
        grid-column: 2/8;
        grid-row: 3;
        justify-self: center;
    }
    
    .miniName {
        grid-column: 2/8;
        grid-row: 4;
        justify-self: center;
    }
    
    .paymentData {
        grid-column: 2/8;
        grid-row: 5;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        padding-bottom: 30px;
    }
    
    
}

@media all and (min-width:900px) {

    #miniImgBox {
        grid-column: 1/9;
        grid-row: 3;
        justify-self: center;
        height: auto;
        width: 50%;
    }


}

@media all and (min-width:1400px) {

    #app {
        display: grid;
        grid-template-columns: repeat(4,f1);
    }

    .gridLayout {
        justify-self: center;
    }

    .dataText {
        font-size: 3em;
    }
    
    .miniName {
        font-size: 5em;
    }
}

